:root{
	--mainColor:#232946;
	--secondaryColor:#b8c1ec ;

	--borderColor:#121629;

	--mainText:#fffffe;
	--secondaryText:#232946;

	--themeDotBorder:#121629;

	--previewBg:#eebbc37f;
	--previewShadow:#121629;


	--buttonColor:#eebbc3;

}