:root{
	--mainColor:#fec7d7;
	--secondaryColor:#d9d4e7;

	--borderColor:#0e172c;

	--mainText:#0e172c;
	--secondaryText:#0e172c;

	--themeDotBorder:#0e172c;

	--previewBg:#f9f8fc7d;
	--previewShadow:#a786df;


	--buttonColor:#a786df;

}