:root{
	--mainColor:#E1DFE1;
	--secondaryColor:#F5F5F5;

	--borderColor:#C0BFC0;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgba(251, 249, 243, 0.618);
	--previewShadow:#E1DFE1;

	--buttonColor:black;
    font-family: 'Roboto', sans-serif;

}

html, body{
    padding: 0;
    margin: 0;
}

body *{
    transition: 1s;
}

h1,h2,h3,h4,h5,h6, strong{
    color: var(--mainText);
    font-family: 'Roboto', sans-serif;
    
}

p, li, span, label, input, textarea{
    color: var(--mainText);
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: lightblue;
}

ul{
    list-style: none;
}

h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 28px;}
h6{ font-size: 16px;}


.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s3{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s4{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s5{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper, .hello-hp{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}
/* PERSONALIZE THEMES AND INTRODUCTION */
.intro-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -8px 15px 25px 0px rgba(61,60,61,1);
    -moz-box-shadow: -8px 15px 25px 0px rgba(61,60,61,1);
    box-shadow: -8px 15px 25px 0px rgba(61,60,61,1);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}

/* NAVBAR */
.nav-wrapper{
    border-radius:5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation a{
    color: var(--mainText);
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper{
    display: flex;
    padding: 5px;
}

#dot-1{
	background-color:  #FF605C;
}

#dot-2{
	background-color:  #FFBD44;
}

#dot-3{
	background-color:  #00CA4E;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}
/* END OF NAVBAR */

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    border-radius: 50%;
}

.theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #121212;
}

#harry-mode{
	background-color: #740001;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--previewShadow);
    max-width: 275px;
    height: 209px;
    padding-left: 30px;
    padding-top: 30px;
    }
    
    #preview{
    box-sizing: border-box;
    width: 300px;
    border:1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding:15px;
    position: relative;
    cursor: grab;
    }
    
    #preview:hover{
    cursor: grab;
    }
    
    #preview.dragging{
    cursor: grabbing;
    }

/* END PERSONALIZE THEMES AND INTRODUCTION */

/* ABOUT SECTION */
.about-wrapper{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}

/* TABS CONTAINER */
.main-container.s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 40px 0;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab {
    color: var(--mainText);
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
}

.tab:hover {
    border-bottom: 2px solid black;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.tab-content-item {
    display: none;
    padding: 20px;
    font-size: 18px;
}

#tab-1-content {
    display: block;
}
/* END TABS CONTAINER */

/* SKILLS TAB */

.technical-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.skill img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

@media (max-width: 767px) {
.skill {
    margin: 10px;
}
}

.skill-logo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.skill-logo:hover {
    transform: scale(1.1) translateZ(1px);
}
/*END SKILLS TAB  */
  

/* HOBBIES TAB */
.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .hobby-card {
    position: relative;
    width: calc(33.33% - 40px); /* adjust the width and margin here to control the responsiveness */
    height: 300px;
    margin: 20px;
    overflow: hidden;
  }
  
  .hobby-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* add object-fit to keep the aspect ratio of the image */
    transition: all 0.5s ease-in-out;
  }
  
  .hobby-card:hover img {
    filter: blur(2px);
  }
  
  .hobby-text {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hobby-card:hover .hobby-text {
    left: 0;
  }
  
  .hobby-text h3 {
    margin: 0;
    text-align: center;
  }
  
  .hobby-text p {
    margin: 20px 0 0 0;
    text-align: center;
  }
/* END HOBBIES TAB */

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 520px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.thumbnail{
    display: block;
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.post-preview{
    background-color: #fff;
    padding: 50px;
}

.preview-btn {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.preview-btn a{
    color: var(--secondaryText);
}

@media (min-width: 768px) {
  .preview-btn {
    padding: 13px 50px 13px;
  }
}

.post-title{
    color: #121212;
    margin: 0;
}

.post-intro{
    color: #121212;
    font-size: 16px;
}

.post{
    border: 1px solid var(--borderColor);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

/* OTHER PROJECTS */

.other-porjects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.card {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.2) blur(2px);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
}

.card:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
  
.overlay h2,
.overlay a {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.card:hover .overlay h2 {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overlay h2 {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
    
.overlay a {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

  /* END OTHER PROJECTS */

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

#submit-btn{
    margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}

footer{
    background-color: var(--mainColor);
}

.social-wrapper{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    color: var(--mainText);
}

@media screen and (max-width: 1200px){
    .main-container{
    width: 95%
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'nav-wrapper'
        'left-column'
        'right-column';
    }
    .right-column{
        justify-content: center;
    }    
}