:root{
	--mainColor:#740001;
	--secondaryColor:#eeba30;

	--borderColor:#0e172c;

	--mainText:#000000;
	--secondaryText:#000000;

	--themeDotBorder:#0e172c;

	--previewBg:#d3a425b6;
	--previewShadow:#740001;


	--buttonColor:#740001;

}

#hello{
    color:#740001;
}

#dot-1{
	background-color:  ae0001;
}

#dot-2{
	background-color:  #eeba30;
}

#dot-3{
	background-color:  #000000;
}